# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment variables
.env
.envs/

# Testing / coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
.tox/

# mypy
.mypy_cache/

# Sphinx documentation
docs/_build/
docs/api/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
